<!DOCTYPE html>
<html>
<head>
  <title>Fennel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>
  <% unless current_user %>
    <%= link_to "Log in with the Goog", "/auth/google_oauth2" %>
  <% else %>
    Hi, <%= current_user.name %>!
    <%= link_to "Log out?", "/auth/signout" %>
  <% end %>
</p>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
